.logitem{
  display:list-item;
  list-style-type:square;
  margin-left:1em
}
.searchlog{
  max-height:24em;
  line-height:1.2em;
  overflow:auto;
}
.searchresult{
  max-height:26.4em;
  line-height:1.2em;
  overflow:auto;
}
form{
  display:inline-block;
}
#autosearchtimeout:before,#autosearchtimeout:after{
  white-space:nowrap;
  width:var(--progress);
  display:block;
  position:absolute;
  height:1rem;
  font-size:.8rem;
  line-height:1rem;
  text-align:center;
  border-radius:.5rem;
}
#autosearchtimeout:before{
  content:'';
  background-color:green;
}
#autosearchtimeout:after{
  content:attr(data-progress);
  color:white;
  background:var(--barstyle);
}
#autosearchtimeout{
  --barstyle:linear-gradient(180deg, transparent, rgba(255,255,255,.4), transparent, transparent);
  position:relative;
  display:block;
  width:100%;
  height:1rem;
  margin:.5rem 0;
  border-radius:.5rem;
  background:var(--barstyle);
  background-color:gray;
}
